<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%extends 'base.html'%}

    {%block content%}
   <!--- <p>You're logged out </p>
          <a href = ' {%url 'login' %}'>Log In</a>-->
    <!--we don't include this paragraph or login url because it's already in base.html
    we must exclude it because of DRY principle-->
    
    {%endblock content %}
</body>
</html>